<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!--配置数据库信息  必须-->
            <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
            <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/demo</property>
            <property name="hibernate.connection.username">root</property>
            <property name="hibernate.connection.password">wangning</property>

        <!--配置hibernate信息  可选-->
            <!--输出底层sql语句-->
            <property name="hibernate.show_sql">true</property>
            <!--sql语句格式化-->
            <property name="hibernate.format_sql">true</property>
            <!--hibernate创建表，需要提前配置
            update：如果已有表，更新，没有，创建-->
        <property name="hibernate.hbm2ddl.auto">update</property>
            <!--配置数据库“方言”——>让hibernate框架识别不同数据库的自己特有的语句
            例如 分页查询 关键字 limit 只能用在MySQL数据库
            -->
            <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!--配置映射文件信息-->
            <mapping resource="many2many/bean/Role.hbm.xml"></mapping>
            <mapping resource="many2many/bean/User.hbm.xml"></mapping>
        <mapping resource="one2many/bean/Customer.hbm.xml"></mapping>
        <mapping resource="one2many/bean/Manager.hbm.xml"></mapping>


    </session-factory>

</hibernate-configuration>