<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.dao.UserDaoInte">
    <select id="getUserById" parameterType="int" resultType="me.entity.User">
        select * from `user` where id = #{id}
    </select>
    <insert id="addUser" parameterType="me.entity.User"
            useGeneratedKeys="true" keyProperty="id" >
        insert into user(username,password)
        values(#{username},#{password})
    </insert>
<delete id="delUserById" parameterType="java.lang.Integer">
    delete from user where id=#{id}
</delete>
    <!--
    <select id="getUserByName" parameterType="string" resultMap="listUser">
        SELECT * FROM "user" WHERE username LIKE #{username}
    </select>
<resultMap id="listUser" type="me.entity.User">
    <id column="id" property="id"></id>
    <result column="username" property="username"></result>
    <result column="password" property="password"></result>
</resultMap>-->
</mapper>
